<h2>Post details</h2>
Displaying results for post with id <%= @row['id']%>
<p>Enjoy reading this post<p>
</br>

	<%= @row ['content'] %>
	</br>	</br>

	Created <%= @row ['created_date'] %>
	</br>
	<hr/>
