<h2>All post</h2>
<p>Enjoy reading<p>
</br>

<% @results.each do |post| %>
	<%= post ['content'] %>
	</br>
	Created <%= post ['created_date'] %>
	</br>
	<a href="/post/<%= post ['id']%>">Comments</a>
	<hr/>
<% end %>